In [21]:
import pandas as pd

In [29]:
import pandas as pd

In [31]:
pd.read_csv('G:\\Fortune_10.csv')

                                                                                                        ID\tName\tIndustry\tInception\tRevenue\tExpenses\tProfit\tGrowth
1\tLamtone\tIT Services\t2009\t"$11              757 018 "\t"6              482                                                 465 Dollars"\t5274553\t30%
2\tStripfind\tFinancial Services\t2010\t"$12     329 371 "\t"916            455 Dollars"\t11412916\t20%                                                NaN
3\tCanecorporation\tHealth\t2012\t"$10           597 009 "\t"7              591                                                  189 Dollars"\t3005820\t7%
4\tMattouch\tIT Services\t2013\t"$14             26  934 "\t"7              429                                                 377 Dollars"\t6597557\t26%
5\tTechdrill\tHealth\t2009\t"$10                 573 990 "\t"7              435                                                  363 Dollars"\t3138627\t8%
6\tTechline\tHealth\t2006\t"$13                  898 119 "\t"5              470                                                 303 Dollars"\t8427816\t23%
7\tCityace\tHealth\t2010\t"$9                    254 614 "\t"6              249                                                  498 Dollars"\t3005116\t6%
8\tKayelectronics\tHealth\t2009\t"$9             451 943 "\t"3              878                                                  113 Dollars"\t5573830\t4%
9\tGanzlax\tIT Services\t2011\t"$14              1   180 "\t\t11901180\t18% NaN                                                                        NaN
10\tTrantraxlax\tGovernment Services\t2011\t"$11 88  336 "\t"5              635                                                  276 Dollars"\t5453060\t7%

In [32]:
pd.read_csv('G:\\Fortune_10.csv')

                                                                                                        ID\tName\tIndustry\tInception\tRevenue\tExpenses\tProfit\tGrowth
1\tLamtone\tIT Services\t2009\t"$11              757 018 "\t"6              482                                                 465 Dollars"\t5274553\t30%
2\tStripfind\tFinancial Services\t2010\t"$12     329 371 "\t"916            455 Dollars"\t11412916\t20%                                                NaN
3\tCanecorporation\tHealth\t2012\t"$10           597 009 "\t"7              591                                                  189 Dollars"\t3005820\t7%
4\tMattouch\tIT Services\t2013\t"$14             26  934 "\t"7              429                                                 377 Dollars"\t6597557\t26%
5\tTechdrill\tHealth\t2009\t"$10                 573 990 "\t"7              435                                                  363 Dollars"\t3138627\t8%
6\tTechline\tHealth\t2006\t"$13                  898 119 "\t"5              470                                                 303 Dollars"\t8427816\t23%
7\tCityace\tHealth\t2010\t"$9                    254 614 "\t"6              249                                                  498 Dollars"\t3005116\t6%
8\tKayelectronics\tHealth\t2009\t"$9             451 943 "\t"3              878                                                  113 Dollars"\t5573830\t4%
9\tGanzlax\tIT Services\t2011\t"$14              1   180 "\t\t11901180\t18% NaN                                                                        NaN
10\tTrantraxlax\tGovernment Services\t2011\t"$11 88  336 "\t"5              635                                                  276 Dollars"\t5453060\t7%

In [34]:










pd.read_csv('G:\\Fortune_10.csv')

                                                                                                        ID\tName\tIndustry\tInception\tRevenue\tExpenses\tProfit\tGrowth
1\tLamtone\tIT Services\t2009\t"$11              757 018 "\t"6              482                                                 465 Dollars"\t5274553\t30%
2\tStripfind\tFinancial Services\t2010\t"$12     329 371 "\t"916            455 Dollars"\t11412916\t20%                                                NaN
3\tCanecorporation\tHealth\t2012\t"$10           597 009 "\t"7              591                                                  189 Dollars"\t3005820\t7%
4\tMattouch\tIT Services\t2013\t"$14             26  934 "\t"7              429                                                 377 Dollars"\t6597557\t26%
5\tTechdrill\tHealth\t2009\t"$10                 573 990 "\t"7              435                                                  363 Dollars"\t3138627\t8%
6\tTechline\tHealth\t2006\t"$13                  898 119 "\t"5              470                                                 303 Dollars"\t8427816\t23%
7\tCityace\tHealth\t2010\t"$9                    254 614 "\t"6              249                                                  498 Dollars"\t3005116\t6%
8\tKayelectronics\tHealth\t2009\t"$9             451 943 "\t"3              878                                                  113 Dollars"\t5573830\t4%
9\tGanzlax\tIT Services\t2011\t"$14              1   180 "\t\t11901180\t18% NaN                                                                        NaN
10\tTrantraxlax\tGovernment Services\t2011\t"$11 88  336 "\t"5              635                                                  276 Dollars"\t5453060\t7%

In [35]:
pd.read_csv('G:\\Top-10-IT-Companies-in-India.csv')

  Top 10 IT Companies in India
0                          TCS
1                      Infosys
2                Tech Mahindra
3                        Wipro
4             HCL Technologies
5                 L&T Infotech
6                     Mindtree
7                      Mphasis
8    Oracle Financial Services
9                  Rotla India

In [36]:
pd.to_csv('G:\\Top-10-IT-Companies-in-India.csv')

AttributeError: module 'pandas' has no attribute 'to_csv'